.content
{
  width: 100%;
  background-color: rgb(219, 247, 240);
}

.left1
{
  display: flex;
}

.content1
{
  width: 60%;
  margin-left: 10%;
  padding-top: 6%;
}

.content1 h4
{
  padding-top: 10%;
  font-size: 32px;
}

.content1 p
{
  font-family:Arial, Helvetica, sans-serif;
}

.content1 a
{
  font-weight: bold;
  color: black;
}

.img1 img
{
  width: 75%;
  padding-top: 10%;
  padding-left: 10%;
}


.left2
{
  display: flex;
}

.content2
{
  width: 60%;
  margin-left: 10%;
  padding-top: 10%;
}


.content2 h4
{
  font-size: 32px;
}

.content2 p
{
  font-family:Arial, Helvetica, sans-serif;
}

.content2 a
{
  font-weight: bold;
  color: black;
}

.img2 img
{
  width: 75%;
  padding-top: 10%;
  padding-left: 10%;
}

.left3
{
  display: flex;
}

.content3
{
  width: 60%;
  margin-left: 10%;
  padding-top: 7%;
}


.content3 h4
{
  font-size: 32px;
}

.content3 p
{
  font-family:Arial, Helvetica, sans-serif;
}

.content3 a
{
  font-weight: bold;
  color: black;
}

.img3 img
{
  width: 75%;
  padding-top: 10%;
  padding-left: 10%;
}

